<header class="header">
    <h1>
        <a class="change" ng-href="#/car">服务<span></span></a>
        <a ng-href="#/cars">金融<span></span></a>
    </h1>
    <i class="fa fa-search"></i>
</header>
<section class="content">
    <div class="swiper-container banner">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="Content/img/banner_1.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="Content/img/banner_2.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="Content/img/banner_3.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="Content/img/banner_4.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="Content/img/banner_5.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="Content/img/banner_6.jpg" alt="">
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="carMarket">
        <dl>
            <dt>
                <span><i class="fa fa-map-marker"></i></span>
            </dt>
            <dd>车商城</dd>
        </dl>
        <dl>
            <dt>
                <span><i class="fa fa-id-card"></i></span>
            </dt>
            <dd>分期购车</dd>
        </dl>
        <dl>
            <dt>
                <span><i class="fa fa-bullhorn"></i></span>
            </dt>
            <dd>团购活动</dd>
        </dl>
        <dl>
            <dt>
                <span><i class="fa fa-calendar"></i></span>
            </dt>
            <dd>找二手车</dd>
        </dl>
    </div>
    <div class="protect">
        <img src="Content/img/protect.gif" alt="">
    </div>
    <div class="carUser">
        <h2>车主服务</h2>
        <ul class="oil">
            <li>
                <dl>
                    <dt><i class="fa fa-id-card"></i></dt>
                    <dd>油卡充值</dd>
                </dl>
                <dl>
                    <dt><i class="fa fa-product-hunt"></i></dt>
                    <dd>低价保养</dd>
                </dl>
                <dl>
                    <dt><i class="fa fa-ban"></i></dt>
                    <dd>4S店保养</dd>
                </dl>
                <dl>
                    <dt><i class="fa fa-calculator"></i></dt>
                    <dd>品质轮胎</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><i class="fa fa-train"></i></dt>
                    <dd>车品商城</dd>
                </dl>
                <dl>
                    <dt><i class="fa fa-cloud"></i></dt>
                    <dd>洗车</dd>
                </dl>
                <dl>
                    <dt><i class="fa fa-bandcamp"></i></dt>
                    <dd>违章代缴</dd>
                </dl>
                <dl>
                    <dt><i class="fa fa-free-code-camp"></i></dt>
                    <dd>免费测评</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><i class="fa fa-delicious"></i></dt>
                    <dd>查周边</dd>
                </dl>
                <dl>
                    <dt><i class="fa fa-book"></i></dt>
                    <dd>车主卡</dd>
                </dl>
                <dl>
                    <dt><i class="fa fa-ticket"></i></dt>
                    <dd>领券保养</dd>
                </dl>
                <dl>
                    <dt><i class="fa fa-list"></i></dt>
                    <dd>全部</dd>
                </dl>
            </li>
        </ul>
    </div>
    <div class="someTime">
        <h2>
            <span>限时抢购</span>
            <span><em>13</em>：<em>13</em>：<em>13</em></span>
        </h2>
        <div class="test">
            <div id="myScroll">
                <dl>
                    <dt><img src="Content/img/hot_01.gif" alt=""></dt>
                    <dd>
                        <h5>补胎工具简易套装</h5>
                        <p><span>￥9.9元</span><em>20元</em></p>
                    </dd>
                </dl>
                <dl>
                    <dt><img src="Content/img/hot_02.gif" alt=""></dt>
                    <dd>
                        <h5>车用椅背挂钩</h5>
                        <p><span>￥9.9元</span><em>20元</em></p>
                    </dd>
                </dl>
                <dl>
                    <dt><img src="Content/img/hot_01.gif" alt=""></dt>
                    <dd>
                        <h5>补胎工具简易套装</h5>
                        <p><span>￥9.9元</span><em>20元</em></p>
                    </dd>
                </dl>
                <dl>
                    <dt><img src="Content/img/hot_02.gif" alt=""></dt>
                    <dd>
                        <h5>车用椅背挂钩</h5>
                        <p><span>￥9.9元</span><em>20元</em></p>
                    </dd>
                </dl>
                <dl>
                    <dt><img src="Content/img/hot_01.gif" alt=""></dt>
                    <dd>
                        <h5>补胎工具简易套装</h5>
                        <p><span>￥9.9元</span><em>20元</em></p>
                    </dd>
                </dl>
                <dl>
                    <dt><img src="Content/img/hot_02.gif" alt=""></dt>
                    <dd>
                        <h5>车用椅背挂钩</h5>
                        <p><span>￥9.9元</span><em>20元</em></p>
                    </dd>
                </dl>
                <dl>
                    <dt><img src="Content/img/hot_01.gif" alt=""></dt>
                    <dd>
                        <h5>补胎工具简易套装</h5>
                        <p><span>￥9.9元</span><em>20元</em></p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="activity">
        <h2>
            <span>活动专区</span>
            <em>更多活动 <i class="fa fa-angle-right"></i></em>
        </h2>
        <div class="testBody">
            <dl>
                <dd>
                    <h5>测身价炫富</h5>
                    <p>身价大PK</p>
                </dd>
                <dt><img src="Content/img/testBody_03.gif" alt=""></dt>
            </dl>
            <dl>
                <dd>
                    <h5>全场0利率</h5>
                    <p>购车无压力</p>
                </dd>
                <dt><img src="Content/img/testBody_02.gif" alt=""></dt>
            </dl>
            <dl>
                <dd>
                    <h5>好车分期</h5>
                    <p>定制专属方案</p>
                </dd>
                <dt><img src="Content/img/testBody_01.gif" alt=""></dt>
            </dl>
        </div>
    </div>
    <div class="guess">
        <h2>
            <span>买车专区</span>
            <em>更多活动 <i class="fa fa-angle-right"></i></em>
        </h2>
        <car-directive data="data" class="my-car"></car-directive>
    </div>
    <div class="more" ng-click="change()">
        <h2>加载更多</h2>
    </div>
</section>
<footer class="footer">
    <li>
        <i class="fa fa-home"></i>
        <span>首页</span>
    </li>
    <li>
        <i class="fa fa-table"></i>
        <span>论坛</span>
    </li>
    <li>
        <i class="fa fa-cab"></i>
        <span>选车</span>
    </li>
    <li class="on">
        <i class="fa fa-search"></i>
        <span>发现</span>
    </li>
    <li>
        <i class="fa fa-user-circle"></i>
        <span>未登录</span>
    </li>
</footer>